/* NAVBAR */
header {
    background: rgba(0,0,0,0.4);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 22px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    color: #ffe600;
}

/* FOOTER */
footer {
    background: rgba(0,0,0,0.5);
    padding: 40px 20px;
    text-align: center;
    margin-top: 60px;
}
