/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* HERO SECTION */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("website/background.jpg") no-repeat center center/cover;
}

/* OVERLAY GELAP */
.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 40, 70, 0.75);
}

/* KONTEN */
.hero-content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 20px;
}

.hero-content h1 {
    font-size: 3.2rem;
    color: #f1c40f;
    margin-bottom: 20px;
}

.hero-content p {
    max-width: 700px;
    font-size: 1.1rem;
    margin-bottom: 30px;
}

/* TOMBOL */
.btn-hero {
    text-decoration: none;
    background-color: #f1c40f;
    color: #002846;
    padding: 14px 28px;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-hero:hover {
    background-color: #d4ac0d;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2.2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #2ecc71, #3498db);
    color: white;
    text-align: center;
}

/* HEADER */
header {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}

/* HERO IMAGE */
.hero img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 20px;
    border: 5px solid white;
}

/* SECTION */
section {
    padding: 40px 20px;
}

/* INSTAGRAM */
.instagram a {
    display: inline-block;
    background-color: white;
    color: #2ecc71;
    padding: 12px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.instagram a:hover {
    background-color: #2ecc71;
    color: white;
}

.video {
    width: 100%;
    padding: 60px 0;
    text-align: center;
}

.video-container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto; /* membuat rata kiri dan kanan */
}

.video-container iframe {
    width: 100%;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/* FOOTER */
footer {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.3);
}
