* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to right, #0f2027, #2c5364, #00c9a7);
    color: white;
}

/* HEADER */
header {
    background: rgba(0,0,0,0.4);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    color: #00ffd5;
}

/* HERO */
.hero {
    text-align: center;
    padding: 120px 20px;
}

.hero h1 {
    font-size: 38px;
    margin-bottom: 20px;
}

.hero p {
    margin-bottom: 30px;
}

.btn {
    background: #00ffd5;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

/* PROFIL */
.profil {
    padding: 50px;
    text-align: center;
}

.foto {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 4px solid white;
}

ul {
    list-style: none;
}

ul li {
    margin: 8px 0;
}

/* VIDEO */
.video iframe {
    width: 90%;
    height: 400px;
    margin-top: 20px;
}

/* FOOTER */
footer {
    background: rgba(0,0,0,0.5);
    padding: 30px;
    text-align: center;
    margin-top: 50px;
}
